!!! 5
html(lang='en', data-ng-app='flokk')
  head
    meta(charset='utf-8')
    title flokk
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(name='author', content='Flokk')
    meta(name='description', content='')

  body
    #wrap
      .container
        .row
          .span12.navbar
            h1.logo.pull-left
              a(href="/") Flokk
      #main.container
        div(data-ng-view="").row
      #push
    footer
      .container
        .row
          