body {
  background: white;
}

a {
  color: #CCCCCC;
}

input, body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.btn {
  font-family: Rambla;
}

input:focus {
  outline: #CCCCCC;
  border-color: rgba(204, 204, 204, 0.8);
}

.navbar .brand.brand-flokk {
  background: url("../images/logo.png") 0 0 no-repeat;
  background-size: 100%;
  display: block;
  height: 46px;
  width: 170px;
  text-indent: -99999em;
  overflow: hidden;
  margin: 0; /* Bootstrap adds a negative margin */
}
